// variables


$color-principal: #a69eec;
$color-secundario: #bbb1b1;
$color-tipografia-b: rgb(245, 236, 236);
$color-tipografia-n: rgb(54, 53, 53);
$color-transparente:rgba(112, 109, 109, 0.3);

$tipografia: 'Raleway', sans-serif;

